immich:
  ingress:
    server:
      enabled: true
      hosts:
      - host: immich.cluster
        ## Configure the paths for the host
        paths:
          - path: /

  persistence:
    external:
      storageClass: nfs-client
      size: 1Ti
      accessMode: ReadWriteMany
    library:
      storageClass: nfs-client
      size: 1Ti
      accessMode: ReadWriteMany
    machine-learning-cache:
      storageClass: nfs-client
      size: 10Gi
      accessMode: ReadWriteMany

  postgresql:
    auth:
      password: TODOCHANGEME
    primary:
      persistence:
        storageClass: nfs-client
        size: 100Gi
        accessMode: ReadWriteMany
  
  immich:
    database:
      storageType: hdd

    configuration:
      enabled: true
      oauth:
        enabled: true
        issuerUrl: 'https://auth.crmbs.net/application/o/immich/'
        clientId: "GvZSRwI2a0xxT7IaTHzH8cE0EOUsibHpQfZ8Ac7l"
        scope: "openid email profile"
        defaultStorageQuota: 50
        # Whether Immich should automatically create users after successful login
        autoRegister: true
        # Whether Immich should automatically redirect to Authentik login
        autoLaunch: true
        # Optional button text for UI
        buttonText: "Step into the Juniverse Image Galery"
        # Whether to use the Immich mobile redirect helper endpoint
        mobileRedirectUriOverride: false
        timeout: 30000
