---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.0.1/charts/other/app-template/values.schema.json
controllers:
  main:
    containers:
      main:
        image:
          repository: vikunja/vikunja
          tag: 0.24.6
          pullPolicy: IfNotPresent
        env:
          # - name: VIKUNJA_SERVICE_PUBLICURL
          #   value: https://vikunja.cluster
          - name: VIKUNJA_CORS_ENABLE
            value: "false"
        probes:
          liveness:
            enabled: true
            custom: true
            port: http
            path: /
            type: TCP
        # resources:
        #   requests:
        #     cpu: 10m
        #     memory: 256M
        #   limits:
        #     memory: 512M
service:
  main:
    controller: main
    type: ClusterIP
    ports:
      http:
        enabled: true
        port: 80
        protocol: TCP
        targetPort: 80
      https:
        enabled: true
        port: 3456
        protocol: TCP
        targetPort: 3456
ingress:
  main:
    enabled: true
    hosts:
      - host: vikunja.cluster
        paths:
          - path: /
            service:
              identifier: main
              port: https
persistence:
  files:
    storageClass: nfs-client
    accessMode: ReadWriteOnce
    size: 25Gi
    globalMounts:
      - path: /app/vikunja/files
  db:
    storageClass: nfs-client
    accessMode: ReadWriteOnce
    size: 10Gi
    globalMounts:
      - path: /db
