---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.0.1/charts/other/app-template/values.schema.json
controllers:
  main:
    containers:
      main:
        image:
          repository: esphome/esphome
          tag: 2026.2
          pullPolicy: IfNotPresent
        env:
          TZ: CET
        probes:
          liveness:
            enabled: true
            custom: true
            port: http
            path: /
            type: TCP
        # resources:
        #   requests:
        #     cpu: 10m
        #     memory: 256M
        #   limits:
        #     memory: 512M
service:
  main:
    controller: main
    type: LoadBalancer
    externalTrafficPolicy: Local
    ports:
      http:
        enabled: true
        port: 80
        protocol: TCP
        targetPort: 80
      https:
        enabled: true
        port: 6053
        protocol: TCP
        targetPort: 6053
      esp:
        enabled: true
        port: 6052
        protocol: TCP
        targetPort: 6052
# ingress: # Do not use ingress as the esps probably need to be configured with the correct IP as endpoint to also do the configuration correctly
#   main:
#     enabled: true
#     hosts:
#       - host: esphome.cluster
#         paths:
#           - path: /
#             service:
#               identifier: main
#               port: http
persistence:
  config:
    storageClass: nfs-client
    accessMode: ReadWriteOnce
    size: 1Gi
    globalMounts:
      - path: /config
